/* Style de base du modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none; /* par défaut, on ne l'affiche pas */
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    z-index: 999; /* pour être au-dessus de la page */
  }
  
  .modal-content {
    background-color: #101012;
    padding: 1rem;
    border-radius: 5px;
    max-width: 600px;
    width: 80%;
  }
  