<!DOCTYPE html>
<section id="dashboard" class="dashboard">
    <!-- <div class="filter-bar">
         FilterBar sera injecté ici 
    </div>
    <div class="charts">
         Composants Chart seront injectés ici 
    </div> -->
    <div class="data-table">
        <!-- Composant Table sera injecté ici -->
    </div>
    <div id="pagination">
        <button id="prevPage">◀ Précédent</button>
        <span id="pageInfo">Page 1</span>
        <button id="nextPage">Suivant ▶</button>
    </div>
    
</section>
