<!DOCTYPE html>
<div class="filter-bar">
    <label for="country">Pays :</label>
    <select id="country">
      <option value="all">Tous les pays</option>
      <option value="singapore">Singapore</option>
      <option value="japan">Japan</option>
      <option value="china">China</option>
      <option value="south korea">South Korea</option>
      <option value="thailand">Thailand</option>
      <option value="us">US</option>
      <option value="vietnam">Vietnam</option>
      <option value="france">France</option>
      <option value="unites arab emirates">Emirat Arabe Uni</option>
      <option value="united kingdom">Angleterre</option>
      <option value="sri lanka ">Sri Lanka</option>
      <option value="spain">Espagne</option>
      <option value="sweden">Suède</option>
      <option value="switzerland">Suisse</option>
      <option value="south africa">Afrique du Sud</option>
      <option value="saudi arabia">Arabie Saoudite</option>
      <option value="russia">Russie</option>
      <option value="romania">Roumanie</option>
      <option value="poland">Pologne</option>
      <option value="peru">Pérou</option>
      <option value="philippines">Philippines</option>
      <option value="panama">Panama</option>
      <option value="pakistan">Pakistan</option>
      <option value="north korea">Corée du Nord</option>
      <option value="norway">Norvège</option>
      <option value="new zealand">Nouvelle-Zélande</option>
      <option value="netherlands">Pays-Bas</option>
      <option value="mexico">Mexique</option>
      <option value="malaysia">Malaisie</option>
      <option value="lithuania">Lituanie</option>
      <option value="libya">Libye</option>
      <option value="latvia">Lettonie</option>
      <option value="iran">Iran</option>        
      <option value="indonesia">Indonésie</option>
      <option value="india">Inde</option>
      <option value="hungary">Hongrie</option>
      <option value="hong kong">Hong Kong</option>
    </select>
  
    <label for="omsRegion">Région OMS :</label>
    <select id="omsRegion">
      <option value="all">Toutes les régions</option>
      <option value="western pacific">Western Pacific</option>
      <option value="south-east asia">South-East Asia</option>
      <option value="americas">Americas</option>
      <option value="europe">Europe</option>
    </select>
  
    <label for="date">Date :</label>
    <input type="date" id="date">
  </div>
  
  