<!DOCTYPE html>
<div class="filter-bar">
    <label for="country">ID :</label>
    <select id="country">
      <option value="all">Tous les pays</option>
      <option value="singapore">Singapore</option>
      <option value="japan">Japan</option>
      <option value="china">China</option>
      <option value="south korea">South Korea</option>
      <option value="thailand">Thailand</option>
      <option value="us">US</option>
      <option value="vietnam">Vietnam</option>
      <option value="france">France</option>
      <option value="unites arab emirates">Emirat Arabe Uni</option>
      <option value="united kingdom">Angleterre</option>
      <option value="sri lanka ">Sri Lanka</option>
      <option value="spain">Espagne</option>
      <option value="sweden">Suède</option>
      <option value="switzerland">Suisse</option>
    </select>
  
    <label for="omsRegion">Username :</label>
    <select id="omsRegion">
      <option value="all">Toutes les régions</option>
      <option value="western pacific">Western Pacific</option>
      <option value="south-east asia">South-East Asia</option>
      <option value="americas">Americas</option>
      <option value="europe">Europe</option>
    </select>
  
    <label for="date">Date de création :</label>
    <input type="date" id="date">
  </div>
  
  